#################
### REPLICA 1 ###
#################

[mysqld]
server_id=2
bind_address=10.128.0.14
report_host=10.128.0.14
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log-error=/var/log/mysql/mysqld.log
pid-file=/run/mysqld/mysqld.pid

### binlog
binlog_format = ROW
log_bin=binlog
log_bin_index=/var/lib/mysql/binlog.index
max_binlog_size=20M

### GTID
gtid_mode = ON
enforce_gtid_consistency = ON

### group replication settings
loose-group_replication_local_address = '10.128.0.14:33061'
disabled_storage_engines='MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,MEMORY'
transaction_write_set_extraction = XXHASH64
loose-group_replication_bootstrap_group = OFF
loose-group_replication_start_on_boot = OFF
loose-group_replication_ssl_mode = REQUIRED
loose-group_replication_recovery_use_ssl = 1
loose-group_replication_group_name = '48cb2717-82c7-49e6-a963-c5acbd2ce2e5'
loose-group_replication_ip_whitelist = '10.128.0.13,10.128.0.14'
loose-group_replication_group_seeds = '10.128.0.13:33061,10.128.0.14:33061'